/*
Theme: test
Author: Dragan
Version:1.00
*/

body {
    
    font-family: Arial, sans-serif;
    font-size: 18px;
	color: #333;

}

a:link,
a:visited {
    color: #7FFF00;

}

p {

    line-height: 1.65em;
}


/* General Layout */
div.container {
    max-width: 920px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;

}

article.post{
    border-bottom: 2px solid #000000;

}

/* Header */
.site-header {
    border-bottom: 2px solid #999;
}


/* Footer */
.site-footer {
    margin-top: 30px;
    border-top: 2px solid #999;
}

/* Navigation menus */
.site-nav ul {
    margin: 0;
	padding: 0;
}

.site-nav ul:before, .site-nav ul:after { content: ""; display: tabele; }
.site-nav ul:after { clear: both; }
.site-nav ul { *zoom: 1; }

.site-nav ul li {
    list-style: none;
	float: left;
}